<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="classroom">
      <h2 data-cy="classroomDetailsHeading"><span jhiTranslate="jhipsterApp.classroom.detail.title">Classroom</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ classroom.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.classroom.name" [ngbTooltip]="'jhipsterApp.classroom.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ classroom.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhipsterApp.classroom.address" [ngbTooltip]="'jhipsterApp.classroom.help.address' | translate">Address</span>
        </dt>
        <dd>
          <span>{{ classroom.address }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.classroom.course">Course</span></dt>
        <dd>
          <span *ngFor="let course of classroom.courses; let last = last">
            <a [routerLink]="['/course', course?.id, 'view']">{{ course.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/classroom', classroom.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
